<source>
  @type tail
  format ltsv
  path /path/to/sample.log
  pos_file /tmp/sample.pos
  tag "sample.log"
</source>

<match sample.log>
  @type timestream

  # Amazon Timestream database name.
  # If not specified, plugin use ENV['AWS_TIMESTREAM_DATABASE']
  database "sampleDB"

  # Amazon Timestream table name.
  # If not specified, plugin use ENV['AWS_TIMESTREAM_TABLE']
  table "sampleTable"

  # AWS region.
  region "us-east-1"

  # AWS access key id.
  aws_key_id "XXXXXXXX"

  # AWS secret key.
  aws_sec_key "XXXXXXXX"

  # Specify which key should be 'measure'.
  # If not, plugin sends dummy measure and writes all keys and values as dimensions.
  # Dummy measure is as follows:
  #   MeasureName: '-'
  #   MeasureValue: '-'
  #   MeasureValueType: 'VARCHAR'
  #<measure>
  #  name "measureNameXXX"
  #  type "VARCHAR"
  #</measure>

  # 'chunk_limit_records' must be configured less or equal to 100.
  # If not, plugin may fails to write record.
  # For now, Plugin sends records in buffer all at once.
  # However Amazon Timestream currently accepts less or equal to 100 records.
  <buffer>
    chunk_limit_records 100
  </buffer>
</match>